@import url("https://use.typekit.net/frh5wjw.css");
@import url("https://use.typekit.net/frh5wjw.css");
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header {
    background-color: rgb(95, 53, 53);
    color: white;
    padding: 1em;
    text-align: center;
 max-width: 100%;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul {
display: flex;
gap: 2em;
}

nav ul li p {
    color: white;
    text-align: center;
    display: block;
    font-size: 1em; 
}

header h1{
    font-family: "dreamboat", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    font-size: 50px;
}

nav img{
    display: block; 
    margin: auto;
    width: 15vw;
}

main img{
    width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDF9D1;  
    overflow-x: hidden; 
}



history h3, p{
font-family: "quincy-cf", serif;
font-weight: 200;
font-style: italic;
}

main li{
font-family: "quincy-cf", serif;
font-weight: 200;
font-style: italic;
}

li:active img{
    background: black;
    transform:scale(2) rotate(360deg);
    border-radius: 50%; 
    transition: transform 0.5s;
}
  
.container img {
    width: 150px; 
    height: auto; 
  }

.container section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
  }
  
 main h1, h2, h3, p {
    max-width: 500px; 
    width: 100%; 
    margin: auto; 
    padding: 10px; 
    text-align: center;   
}


.intro {
    max-width: 80%;
    padding: 10px;
    background-color: #b28db9;
    color: black;
    border-radius: 10px;
}
 
main ul li {
    padding: 10px;
    font-weight: 200;
    text-align: center;
    margin: auto;
}

.h1 p {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}


main ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 700px;
    margin: auto;
    list-style-type: none;

}

main ul li {
    background-color: #c49a6c;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
    max-width: 80%;    
}

a{
    text-decoration-line: none;
    color: black;
    
}
.container, .intro, .h1, main ul {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

footer {
    text-align: center;  
    margin-top: 20px; 
    padding: 5px;
    background-color: #e6bfc5;
}

footer a {
    color: black;
}

h3, p, h2 {
    padding: 0;
}

.vintage-page{
    padding-left: 2em;
    padding-right: 2em;
}

footer a img{
    width: 20%;
    height: 20%;
}

/*https://tutifruttie.github.io/initiatief.github.io/*/
